*{
    font-family: 'Lucida Console', 'Monaco', monospace;
}

header{
    display: flex;
    background-color: gainsboro;
    justify-content: space-between;
    
}
.heading{

    margin: 20px 10px 30px 10px;
}

#container{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 700px;
    width: 900px;
    transform: translate(-50%, -50%);
    border: solid black 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#description{
    font-size: 40px;
}

#desc-container{
    /*border: solid black 15px;*/
}

#bottom-container{
    /*border: solid black 15px;*/
}

/* for initials*/
form{

}