*{
    font-family: 'Lucida Console', 'Monaco', monospace;
    color: #F0A500;
    background-color: #082032;
}

header{
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    
}
.heading{
    background-color: #000000;
    margin: 20px 10px 30px 10px;
}

#container{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 700px;
    width: 900px;
    transform: translate(-50%, -50%);
    border: solid #082032 5px;
    background-color: #334756;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#title{
    font-size: 40px;
    font-weight: bold;
    margin: 20px auto 40px auto;
    background-color: #334756;
}
#description{
    font-size: 30px;
    margin: 0px 40px 30px 40px;
    text-align: center;
    background-color: #334756;
}

#desc-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #334756;

}

#desc-container button{
    min-width: 200px;
    min-height: 40px;
    margin: 30px auto 30px auto;
}

#bottom-container{
    /*border: solid black 5px;*/
    background-color: #334756;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

#bottom-container button{
    width:10%;
    height: 60%;
    margin: 0px 20px 0px 20px;
}
    
#submit-button{
    margin-left: 10px;
    border: solid black 2px;
}
button:hover, #submit-button:hover {
    background-color: gray;
    color: white;
    
  }

li{
    background-color: #334756;
    padding: 10px 0px 10px 0px;
    text-align: left;
}
/* for initials*/
.results{
    background-color: #334756;
    border: none;
    font-size: 24px;
}

#input{
    color: black;
    background-color: #F0A500;
}